{% extends "base.html" %}
{% load links_extras %}

{% block content %}
{% if not links %}
    <h1>Adding tag "{{ tag_name }}"</h1>
{% else %}
    <h1>Editing tag "{{ tag_name }}"</h1>
{% endif %}
<form method="post" action="">
{% csrf_token %}
<div class="row collapse add-link">
    <div class="eleven columns">
        {{ form.url }}
    </div>
    <div class="one columns">
        <input type="submit" class="postfix button expand" value="Add"/>
     </div>
 </div>
</form>
{% for link in links %}
<div class="link" data-id="{{ link.id }}">
    <div class="alert-box" style="opacity: {% link_opacity link %}">
        <div class="row">
            <div class="ten columns">
                <div class="title">
                    <h5>
                        <a href="{{ link.url }}" title="{{ link.title }}">
                            {{ link.title|truncatechars:95 }}
                        </a>
                    </h5>
                </div>
            </div>
            <div class="two columns">
                {% if not link.is_droppable %}
                    <div class="karma">
                        <h5>{{ link.karma }}</h5>
                        <small>{{ link.last_access|timesince }} ago</small>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% if link.is_droppable %}
        <div class="delete">
            <a class="alert button" href="">Drop</a>
        </div>
    {% endif %}
</div>
{% endfor %}
{% endblock %}
