{% extends "base.html" %}
{% load links_extras %}

{% block content %}
{% for link in links %}
<div class="link">
    <div class="alert-box" style="opacity: {% link_opacity link %}">
        <div class="title">
            <h4><a href="{{ link.url }}">{{ link.title }}</a></h4>
        </div>
    </div>
    {% if link.is_droppable %}
        <div class="delete">
            <a style="opacity: 1" class="round alert button" href="">Drop</a>
        </div>
    {% endif %}
</div>
{% endfor %}
{% endblock %}
