<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Wikime{% endblock %}</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/foundation.min.css"/>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/app.css"/>
    </head>
    <body>
        <div class="row">
            <div class="twelve columns">
                <div id="content">{% block content %}{% endblock %}</div>
            </div>
        </div>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/links.js"></script>
    </body>
</html>
